<header class="header">
  <nav class="navbar">
    <div class="nav-container">
      <div class="nav-logo">
        <a href="/">MyUltra.Coach</a>
      </div>
      <div class="nav-menu">
        <a href="/" class="nav-link">Home</a>
        <a href="/about" class="nav-link">About</a>
        <a href="https://rooms.myultra.coach" class="nav-link" target="_blank">Login</a>
      </div>
    </div>
  </nav>
</header> 